.effectCardsContainer {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: visible;
  margin: 1%;
  gap: 1%;
}

.effectCardsContainer img {
  max-width: 150px;
  max-height: 98%;
  border-radius: 5%;
}

.effectCardsContainer,
.addEffect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.equipmentItemsCreatures {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.itemContainer, .creatureContainer, .baneContainer {
  width: 33.3333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.itemSave, .creatureSave, .baneSave {
  height: 90%; 
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
  gap: 1%;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
  box-sizing: border-box;
}

.night-mode .itemSave, 
.night-mode .creatureSave, 
.night-mode .baneSave {
    border-color: rgb(77, 83, 86);
}

.equipmentSave {
  height: 90%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
  gap: 1%;
}

.damageSave, .fearSave, .terrianSave {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1%;
  padding: 4px;
  overflow: visible;
  max-height: 100%;
  width: 98%;
  height: 98%;
  box-sizing: border-box;
}