.fearContainer {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
}

.fearDamageAdd {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fearAndDamage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.equipmentContainer {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
}

.banesAndTerrian {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: inset;
  border-color: #999;
}

.baneTerrianContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}