.characterColumn {
    display: none;
    background-color: #e0e0e0;
    width: 90%;
    flex-direction: column;
    overflow: hidden;
    flex: 9;
}

.night-mode .characterColumn {
    background-color: rgb(42, 45, 47);
}

#chosenPlayerRow {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    border: inset;
    border-color: #999;
}

#currentPlayer {
    display: flex;
    width: 402px;
    height: 242px;
    border: inset;
    border-color: #999;
}

#choosablePlayers {
    display: flex;
    height: 70%;
    width: 100%;
    border: inset;
    border-color: #999;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    align-content: flex-start;
}

.night-mode #choosablePlayers, #currentPlayer, #chosenPlayerRow {
    border-color: rgb(77, 83, 86);
}

.characterCard {
    width: 400px;
    height: 240px;
    margin: 20px;
}

.characterImage {
    width: 100%;
    height: 100%;
    border-radius: 3%;
}

.current-player-image {
    width: 400px;
    height: 240px;
}

.container-player-image {
    /*Might add background edge*/
    width: 100%;
    height: 100%;
}

.characterCard.selected {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
