.characterColumn {
    display: none;
    background-color: #e0e0e0;
    width: 90%;
    flex-direction: column;
    overflow: hidden;
}

.night-mode .characterColumn {
    background-color: rgb(42, 45, 47);
}