.deckColumn {
  display: none;
  flex: 9;
  background-color: #e0e0e0;
  width: 90%;
  flex-direction: column;
}

.night-mode .deckColumn {
  background-color: rgb(42, 45, 47);
}

.deck {
  width: 50%;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  border: inset;
  border-color: #999;
}

.night-mode .deck {
  border-color: rgb(77, 83, 86);
}

.deckContainer {
  height: 70%;
  width: 100%;
  text-align-last: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardBack {
  display: none;
  height: 96%;
  border-radius: 5%;
  box-shadow: 0 0 5px #FBC841, 0 0 5px #DC824F;
}

.classType {
  width: 98%;
  margin: 1%;
  display: flex;
}

.vertical-button {
  margin-bottom: 1%;
  padding: 10px;
  cursor: pointer;
  border-radius: 0;
  border: none;
  width: 10%;
  height: 100%;
}

.night-mode .vertical-button {
  background: #999;
}

.vertical-button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.night-mode .vertical-button:hover {
  background-color: #7a7a7a;
  cursor: pointer;
}

.vertical-button.active {
  background-color: #333;
  color: #fff;
}

.night-mode .vertical-button.active {
  background-color: rgb(38, 42, 43);
  color: rgb(232, 230, 227);
}

