.left-column {
  width: 10%;
  background-color: #f0f0f0;
  position: relative;
  overflow: visible;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: width 0.5s ease-in-out;
}

.left-column.shrink {
  width: 1%;
}

.night-mode .left-column {
  background-color: rgb(32, 35, 37);
}

.shrink-button {
  position: absolute;
  top: 50%;
  right: -25px;
  z-index: 5;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #343434;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  transition: transform 0.5s;
  color: #e7e7e7;
  font-size: 200%;
}

.night-mode .shrink-button {
  background-color: rgb(32, 35, 37);
}

.shrink-button.rotate {
  transform: translateY(-50%) rotate(180deg);
}

.tabChoices {
  display: flex;
  flex-direction: column;
}

.tabChoices,
.additionsToLeftColumn {
  transition: opacity 0.5s;
}

.tab {
  padding: 10px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.night-mode .tab {
  color: white;
}

.tab.active {
  background-color: #333;
  color: #fff;
}

.tab:hover {
  background-color: #333;
  color: #fff;
}

.tab .ripple {
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  transform: scale(0);
  animation: ripple-animation 1s linear;
}

@keyframes ripple-animation {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.additionsToLeftColumn {
  display: flex;
  position: relative;
  height: 15%;
  justify-content: space-evenly;
  align-items: center;
}

.theme-toggle {
  cursor: pointer;
  transition: opacity 0.5s;
  height: 100%;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons-wrapper {
  height: 100%;
  width: 100%;
  position: relative;
  transition: transform 0.5s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.theme-image {
  position: absolute;
  max-width: 100%;
  width: auto;
  backface-visibility: hidden;
}

.sun {
  filter: invert(1);
  transform: rotateY(0);
}

.moon {
  filter: invert(1);
  transform: rotateY(-180deg);
}

.night-mode .icons-wrapper {
  transform: rotateY(180deg);
}
