body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: gray;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.left-column {
  flex: 1;
  background-color: #f0f0f0;
  width: 10%;
}

.playerColumn {
  flex: 9;
  background-color: #e0e0e0;
  width: 90%;
  display: flex;
  flex-direction: column;
}

.playerRow1 {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 30%;
}

.playerRow3 {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 30%;
}

.playerRow4 {
  display: flex;
  border-bottom: 1px solid #ccc;
  height: 40%;
}

.playerImage {
  height: 100%;
  width: 100%;
}

.player-image-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}

.insperation-counter {
  position: absolute;
  top: 13%;
  left: 76.5%;
  width: 18%;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
}

.effectCardsContainer,
.addEffect {
  border-top: 1px solid #ccc;
  display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.addEffect {
  height: 10%
}

.effectCardsContainer {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow: auto;
}

.effectCardsContainer img {
  max-width: 300px;  /* Adjust as needed */
  max-height: 180px; /* Adjust as needed */
  border-radius: 5%;
}

.playerRow4Left {
  width: 33%;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  display: flex;
  flex-direction: column;
}


.playerRow4Middle,
.playerRow4Right {
  flex: 1;
  border-right: 1px solid #ccc;
  justify-content: center;
  display: flex;
}

.fearContainer,
.damageContainer {
  flex: 1;
  border-right: 1px solid #ccc;
  justify-content: center;
  display: flex;
}

.prepedCardContainer {
  flex: 1;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.playerRow4Left:last-child,
.playerRow4Middle:last-child,
.playerRow4Right:last-child {
  border-right: none;
}

.counter-btn {
  border: none;
  background-color: #6a6a6a;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
      margin: 1%;
}

.counter-value {
  font-size: 290%;
  color: #fff;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: #333;
  color: #fff;
}

.tab:hover {
  background-color: #333;
  color: #fff;
}

.deckColumn {
  display: none;
  flex: 9;
  background-color: #e0e0e0;
  width: 90%;
  flex-direction: column;
}
/*Add Boon styles*/
.addBoon {
  width: 100%;
  height: 100%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
  height: 40%;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 30%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.box.selected {
  box-shadow: 0 0 2px 2px gold;
  border-radius: 5%;
}

.boonImages {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.equipmentItemsCreatures {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

/*Add Equipment*/
.equipmentContainer {
  width: 50%;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.equipmentSave {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  gap: 1%;
  margin: 1%;
}

.equipmentAdd {
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addEquipmentButton {
  width: 33%;
}

.equipment {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.equipment-box {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipment-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.equipmentImages {
  width: 100%;
  border-radius: 5%;
}

.selectedEquipment {
  box-shadow: 0 0 3px 3px gold;
}

/*Add item*/
.addItemButton {
  width: 34%;
}

.itemSave {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
}

.itemModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.itemModal-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.itemModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.itemImages {
  display: none;
}

.selectedItem {
  background-color: #1b5ca3; 
  color: white; 
}

/*Add Creature*/
.addCreatureButton {
  width: 33%;
}

.creatureSave {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
}

.creatureModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.creatureModal-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.creatureModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.creatureImages {
  display: none;
}

.selectedCreature {
  background-color: #1b5ca3; 
  color: white; 
}

/*Fear and Damage*/
.fearContainer {
  width: 50%;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.fearAndDamage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.fearSave {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
  gap: 1%;
}

.fearDamageAdd {
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addFearButton {
  width: 50%;
}

.fear {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.fear-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.fear-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.fearImages {
  display: none;
}

.fearImageDisplay {
  display: flex;
}

.fearImagesBack {
  display: none;
}

.selectedFear {
  background-color: #1b5ca3; 
  color: white; 
}

.fearCardProp {
  width: 19%;
  min-width: 150px;
}

.fear-box-gloom {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9c9c9c;
  color: white;
}

#fear-box-gloom-inside {
  width: 19%;
  height: 100%;
  margin: 1%;
  font-size: 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*add Damage*/
.damageContainer {
  width: 50%;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
}

.damageAndFear {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.damageSave {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
  gap: 1%;
}

.damageFearAdd {
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.addDamageButton {
  width: 50%;
}

.damage {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.damage-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.damage-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.damageImages {
  display: none;
}

.damageImageDisplay {
  display: flex;
}

.damageImagesBack {
  display: none;
}

.selectedDamage {
  background-color: #1b5ca3; 
  color: white; 
}

.damageCardProp {
  width: 19%;
  min-width: 150px;
}

.damage-box-weariness {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9c9c9c;
  color: white;
}

#damage-box-inside {
  width: 19%;
  height: 100%;
  margin: 1%;
  font-size: 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Misc*/

.misc {
  width: 50%;
}