body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: gray;
}

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar:hover {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb:active {
  background: #555;
}

.addEffect {
  height: 10%;
  margin: 0;
  border: none;
}

.addBoon {
  width: 100%;
  height: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.addEquipmentButton {
  width: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.addItemButton, .addCreatureButton, .addBaneButton {
  width: 100%;
  height: 10%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.addFearButton {
  width: 10%;
  height: 5%;
  right: 1%;
  bottom: 34.333%;
  position: absolute;
  font-size: 90%;
  color: white;
  overflow: hidden;
  border-color: #999;
  background-color: #333;
}

.addDamageButton {
  width: 10%;
  height: 5%;
  right: 1%;
  bottom: 67.666%;
  position: absolute;
  font-size: 90%;
  color: white;
  overflow: hidden;
  border-color: #999;
  background-color: #333;
}

.addTerrianButton {
  width: 10%;
  height: 5%;
  right: 1%;
  bottom: 1%;
  position: absolute;
  font-size: 90%;
  color: white;
  overflow: hidden;
  border-color: #999;
  background-color: #333;
}

.addWeakness {
  height: 10%;
}

.addAWeakness {
  height: 100%;
  width: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.equipmentAdd {
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.baneTerrianAdd {
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.shuffle {
  height: 10%;
}

.scout {
  height: 10%;
  display: flex;
}

.shuffleDeck {
  height: 10%;
}

.scoutButton {
  width: 50%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.shuffleTheDeck {
  width: 100%;
  height: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.shuffleIntoDeck {
  height: 10%;
  width: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.shuffleIntoTheDeck {
  height: 100%;
  width: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}

.boonCardProp:hover {
  z-index: 10;
  transform: scale(1.05);
  transition: all 250ms ease-out;
}

.boonCardProp img {
  transition: all 250ms ease-out;
}

.boonImageDisplay {
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
  will-change: transform, filter;
  box-shadow: 0 0 10px #3f3f3f, 0 0 10px rgb(0, 121, 65);
}

.boonCardProp:hover .boonImageDisplay {
  z-index: 10;
  transform: scale(1.05);
}

.equipmentCardProp {
  width: 18%;
  min-width: 135px;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
}

.equipmentCardProp:hover {
  transform: scale(1.05);
  z-index: 10;
}

.equipment-box.selected {
  box-shadow: 0 0 2px 2px gold;
  border-radius: 5%;
}

.equipmentCardProp img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  will-change: transform, filter;
  box-shadow: 0 0 8px #FBC841, 0 0 8px #dcc24f;
  transition: all 250ms ease-out;
}

/*Items*/
.itemCardProp {
  width: 18%;
  min-width: 135px;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
}

.itemImg {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  will-change: transform, filter;
  box-shadow: 0 0 8px #FBC841, 0 0 8px #dcc24f;
  transition: all 250ms ease-out;
}

/*Creatures*/
.creatureCardProp {
  width: 18%;
  min-width: 135px;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
}

.creatureImageDisplay {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  will-change: transform, filter;
  box-shadow: 0 0 8px #FBC841, 0 0 8px #dcc24f;
  transition: all 250ms ease-out;
}

/*Fear*/
.fearImageDisplay {
  perspective: 600px;
  transition: all 250ms ease-out;
  box-shadow: 0 0 10px #002341, 0 0 10px rgb(0, 86, 121);
  will-change: transform, filter;
}

.fearCardProp {
  height: 98%;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
  box-sizing: border-box;
}

.fearCardProp:hover {
  z-index: 10;
  transform: scale(1.05);
}

.fearCardProp img {
  transition: all 250ms ease-out;
}

/*Damage*/
.damageCardProp {
  height: 98%;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
  box-sizing: border-box;
}

.damageCardProp:hover {
  z-index: 10;
  transform: scale(1.05);
}

.damageCardProp img {
  transition: all 250ms ease-out;
}

.damageImageDisplay {
  perspective: 600px;
  transition: all 250ms ease-out;
  will-change: transform, filter;
  box-shadow: 0 0 10px #410000, 0 0 10px rgb(121, 0, 0);
}

.damageImageDisplayZoom {
  z-index: 10;
  transform: scale(1.05);
}

/*Bane*/
.baneCardProp {
  width: 15%;
  min-width: 135px;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
}

.baneImageDisplay {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  box-shadow: 0 0 10px #292929, 0 0 10px rgb(107, 107, 107);
  will-change: transform, filter;
  transition: all 250ms ease-out;
}

.baneCardProp:hover {
  transform: scale(1.05);
  z-index: 10;
}

.baneCardProp img {
  width: 100%;
  height: 100%;
}

/*Terrian*/
.terrianCardProp {
  height: 98%;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
  box-sizing: border-box;
}

.terrianCardProp:hover {
  transform: scale(1.05);
  z-index: 10;
}

.terrian-box.selected {
  box-shadow: 0 0 2px 2px gold;
  border-radius: 5%;
}

.terrianCardProp img {
  will-change: transform, filter;
  box-shadow: 0 0 10px #014100, 0 0 10px rgb(0, 121, 69);
  transition: all 250ms ease-out;
}

.playerImage {
  height: 100%;
  width: 100%;
}

.player-image-container {
  height: 100%;
  width: 100%;
  position: relative;
  display: inline-block;
}

.cardCount {
  position: relative;
  display: flex;
  background: white;
  height: 10%;
  text-align: center;
  line-height: 20px;
  color: black;
  font-size: calc(1vh + 1vw);
  justify-content: space-evenly;
  align-items: center;
}

#myNumberInput {
  width: 50%;
  font-size: calc(0.8vh + 0.8vw);
}

.discardCounter {
  position: relative;
  background: white;
  display: flex;
  height: 10%;
  text-align: center;
  line-height: 20px;
  color: black;
  font-size: calc(1vh + 1vw);
  align-items: center;
  justify-content: space-evenly;
}

.insperation-counter {
  position: absolute;
  top: 13%;
  left: 76.5%;
  width: 18%;
  height: 28%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  display: flex;
  align-content: space-around;
  align-items: center;
  justify-content: space-between;
}

.counter-btn {
  display: flex;
  width: 1vw;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  background-color: #6a6a6a;
  color: #fff;
  font-size: clamp(12px, 1vw, 24px);
  cursor: pointer;
}

.counter-value {
  font-size: 4vw;
  color: #fff;
}

.prepedContainer {
  width: 50%;
  border: inset;
  border-color: #999;
  overflow-x: scroll;
}

.prepedCardContainer {
  width: 98%;
  height: 98%;
  margin: 1%;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow: visible;
  gap: 1%;
}

.prepedCard {
  width: 18%;
  min-width: 135px;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
}

.prepedCard:hover {
  transform: scale(1.05);
  z-index: 10;
}

.prepedCard img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  will-change: transform, filter;
  box-shadow: 0 0 6px #4c41fb, 0 0 6px #000;
  transition: all 250ms ease-out;
}

#scoutDisplay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  gap: 1%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  align-items: center;
  justify-content: center;
}

#scoutDisplayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

#scoutCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.scoutedCard {
  width: 100%;
  border-radius: 5%;
}

.scoutCardProperties {
  display: flex;
  width: 10%;
  flex-direction: column;
}

.hidden {
  display: none;
}

.effectCardsContainer {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: visible;
  margin: 1%;
  gap: 1%;
}

.effectCardsContainer img {
  max-width: 150px;
  max-height: 98%;
  border-radius: 5%;
}

.effectCardsContainer,
.addEffect {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.equipmentItemsCreatures {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.itemContainer, .creatureContainer, .baneContainer {
  width: 33.3333%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.itemSave, .creatureSave, .baneSave {
  height: 90%; /* 90% of the height of their container */
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  margin: 1%;
  gap: 1%;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
  box-sizing: border-box;
}

.equipmentSave {
  height: 100%;
  min-height: 230px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow-x: scroll;
  overflow-y: hidden;
  overflow: visible;
  gap: 1%;
  margin: 1%;
}

.damageSave, .fearSave, .terrianSave {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1%;
  padding: 4px;
  overflow-y: clip;
  overflow-x: auto;
  max-height: 100%;
  width: 98%;
  height: 98%;
  box-sizing: border-box;
}

.fearContainer {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
}

.fearDamageAdd {
  height: 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.fearAndDamage {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.equipmentContainer {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
}

.banesAndTerrian {
  width: 50%;
  justify-content: center;
  display: flex;
  flex-direction: column;
  border: inset;
  border-color: #999;
}

.baneTerrianContainer {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.deckColumn {
  display: none;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
}

.deck-row {
  margin: 1%;
  border: inset;
  border-color: #999;
  display: flex;
  flex-wrap: wrap;
}

.row-title {
  text-align: left;
  margin: 0 1% 1%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  height: fit-content;
}

.card {
  display: flex;
  height: calc(10vh + 10vw);
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin: 0.5%;
}

.minus,
.plus {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e4b4b;
  color: #fefefe;
}

.number {
  font-size: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fefefe;
  color: #4e4b4b;
}

.cardImage {
  width: 100%;
  display: flex;
  height: 90%;
  background-color: #e0e0e0;
  color: #4e4b4b;
  flex-direction: row;
  flex-wrap: wrap;
}

.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 5%;
}

.amountOfCard {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-around;
}

#buildDeckButton {
  width: 200px;
  position: absolute;
  background-color: #333;
  height: 50px;
  margin: 20px auto;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  bottom: 0;
  right: 2%;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

#buildDeckButton:active {
  transform: scale(0.95);
  background-color: #333;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.deckColumn {
  display: none;
  flex: 9;
  background-color: #e0e0e0;
  width: 90%;
  flex-direction: column;
}

.deck {
  width: 50%;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  border: inset;
  border-color: #999;
}

.deckContainer {
  height: 70%;
  width: 100%;
  text-align-last: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cardBack {
  display: none;
  height: 96%;
  border-radius: 5%;
  box-shadow: 0 0 5px #FBC841, 0 0 5px #DC824F;
}

.classType {
  width: 98%;
  margin: 1%;
  display: flex;
}

.vertical-button {
  margin-bottom: 1%;
  padding: 10px;
  cursor: pointer;
  border-radius: 0;
  border: none;
  width: 10%;
  height: 100%;
}

.vertical-button:hover {
  background-color: #ddd;
  cursor: pointer;
}

.vertical-button.active {
  background-color: #333;
  color: #fff;
}

.discard {
  width: 50%;
  text-align: -webkit-center;
  display: flex;
  flex-direction: column;
  border: inset;
  border-color: #999;
}

.discardContainer {
  height: 70%;
  width: 100%;
  text-align-last: center;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.discardCard {
  height: 96%;
  border-radius: 5%;
  box-shadow: 0 0 5px #b5ac96, 0 0 5px #7895fd;
}

#discardDisplayBackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 9;
  display: none;
}

#discardDisplay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  gap: 1%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  align-items: center;
  justify-content: center;
}

.left-column {
  flex: 1;
  background-color: #f0f0f0;
  width: 10%;
}

.tab {
  padding: 10px;
  cursor: pointer;
}

.tab.active {
  background-color: #333;
  color: #fff;
}

.tab:hover {
  background-color: #333;
  color: #fff;
}

.playerColumn {
  flex: 9;
  background-color: #e0e0e0;
  width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.playerRow1 {
  display: flex;
  height: 30%;
}

.playerRow3 {
  display: flex;
  height: 30%;
}

.playerRow4 {
  display: flex;
  height: 40%;
}

.playerRow4Left {
  width: 33%;
  border: inset;
  border-color: #999;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.playerRow4Middle {
  width: 34%;
  justify-content: center;
  display: flex;
}

.playerRow4Right {
  width: 33%;
  height: 100%;
  justify-content: center;
  display: flex;
}

.playerRow4Left:last-child,
.playerRow4Middle:last-child,
.playerRow4Right:last-child {
  border-right: none;
}

/*Boons*/
.modal {
  display: none;
  justify-content: space-evenly;
  align-content: space-between;
  align-items: stretch;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  border: 1px solid #888;
  width: 55%;
  height: calc(15vh + 15vw);
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  padding: 1%;
  gap: 1%;
}

.box {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}

.box.selected {
  box-shadow: 0 0 2px 2px gold;
  border-radius: 5%;
}

.boonImages {
  height: 100%;
  border-radius: 5%;
}

/*Equipment*/
.equipment {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.equipment-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.equipment-box {
  width: 25%;
  padding: 5px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.equipmentImages {
  width: 100%;
  border-radius: 5%;
}

.selectedEquipment {
  box-shadow: 0 0 3px 3px gold;
}

/*Items*/
.itemModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.itemModal-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.itemModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.itemImages {
  display: none;
}

#selectedItem {
  background-color: #1b5ca3;
  color: white;
}

/*Creatures*/
.creatureModal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.creatureModal-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.creatureModal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.creatureImages {
  display: none;
}

.creatureModal-box.selectedCreature {
  background-color: #1b5ca3;
  color: white;
}

/*Fear*/
.fear {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.fear-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.fear-box,
.fear-box-gloom {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.fear-box {
  background: #4e4b4b;
}

.fearImages {
  display: none;
}

.fearImagesBack {
  display: none;
}

.selectedFear {
  background-color: #1b5ca3;
}

#fear-box-gloom-inside {
  width: 19%;
  height: 100%;
  margin: 1%;
  font-size: 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fear-box-gloom {
  background: #9c9c9c;
}

/*Damage*/
.damage {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.damage-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
}

.damage-box {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #4e4b4b;
  color: white;
}

.damageImages {
  display: none;
}

.damageImageDisplay {
  display: flex;
}

.damageImagesBack {
  display: none;
}

.selectedDamage {
  background-color: #1b5ca3;
  color: white;
}

.damage-box-weariness {
  width: 23%;
  height: 10%;
  padding: 5px;
  margin: 1%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9c9c9c;
  color: white;
}

#damage-box-inside {
  width: 19%;
  height: 100%;
  margin: 1%;
  font-size: 55%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Bane*/
.bane {
  display: none;
  justify-content: space-around;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.baneImages {
  width: 100%;
  height: 100%;
  border-radius: 5%;
}

.selectedBane {
  box-shadow: 0 0 3px 3px gold;
  border-radius: 5%;
}

/*Terrian*/
.terrian {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.terrian-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  gap: 1%;
}

.terrian-box {
  width: 24%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.terrianImages {
  width: 100%;
  border-radius: 5%;
}

.selectedTerrian {
  box-shadow: 0 0 3px 3px gold;
  border-radius: 5%;
}

.sidePanel {
  display: none;
  flex: 9;
  background-color: #e0e0e0;
  width: 90%;
  flex-direction: column;
}

#damageContainer,
#fearContainer,
#terrianContainer {
  width: calc(100% - 2px);
  min-width: 100%;
  height: calc(33.3333333333vh - 2px);
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  border-left: 1px solid #ccc;
  border: inset;
  border-color: #999;
  box-sizing: border-box;
}

/*# sourceMappingURL=styles.css.map */
