.playerImage {
    height: 100%;
    width: 100%;
}

.player-image-container {
    height: 98%;
    width: 98%;
    top: 4px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}