.prepedContainer {
  width: 50%;
  border: inset;
  border-color: #999;
  overflow-x: scroll;
}

.night-mode .prepedContainer {
  border-color: rgb(77, 83, 86);
}

.prepedCardContainer {
  width: 95%;
  height: 98%;
  position: relative;
  margin: 1%;
  display: flex;
  flex-wrap: nowrap;
  left: 3%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
  overflow: visible;
  gap: 1%;
}

.prepedCard {
  width: 18%;
  min-width: 135px;
  margin: 4px;
  perspective: 600px;
  transition: all 250ms ease-out;
}

.prepedCard:hover {
  transform: scale(1.05);
  z-index: 10;
}

.prepedCard img {
  width: 100%;
  height: 100%;
  border-radius: 5%;
  will-change: transform, filter;
  box-shadow: 0 0 6px #4c41fb, 0 0 6px #000;
  transition: all 250ms ease-out;
}