.addEffect, .addBoon, .addItemButton, .addCreatureButton, .addBaneButton, .addEquipmentButton, .addFearButton, .addDamageButton, .addTerrianButton, .addWeakness, .addAWeakness, .baneTerrianAdd {
  border-color: #999;
  background-color: #333;
  color: white;
}

.addEffect {
  height: 10%;
  margin: 0;
  border: none;
}

.addItemButton, .addCreatureButton, .addBaneButton, .addEquipmentButton {
  width: 100%;
  height: 10%;
}

.addBoon {
  width: 100%;
  height: 100%;
}

.addFearButton, .addDamageButton, .addTerrianButton {
  width: 10%;
  height: 5%;
  right: 1%;
  position: absolute;
  font-size: 90%;
  color: white;
  overflow: hidden;
}

.addFearButton {
  bottom: 34.333%;
}

.addDamageButton {
  bottom: 67.666%;
}

.addTerrianButton {
  bottom: 1.333%;
}

.addWeakness {
  height: 10%;
}

.addAWeakness {
  height: 100%;
  width: 100%;
}

.baneTerrianAdd {
  height: 10%;
  border-top: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
