.shuffleIntoDeck {
  height: 10%;
  width: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}


.shuffleIntoTheDeck {
  height: 100%;
  width: 100%;
  color: white;
  border-color: #999;
  background-color: #333;
}
