::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

::-webkit-scrollbar:hover {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb:active {
    background: #555;
}